<div class="breadcrumb">
  <app-breadcrumb [data]="breadcrumbs"></app-breadcrumb>
</div>
<!---***** Products-Details *********-->

<section class="product-details">
  <div class="container">
    <!-- {{product | json}} -->
    <!--******* details-main-area *****-->
    <div class="product-details-main">
      <!--**** product-img ***-->
      <div class="product-img">
        <!--Main Img-->
        <div class="product-img1">
          <img *ngIf="image" [src]="image" [alt]="product?.productName" (mousemove)="onMouseMove($event)"
            (mouseleave)="onMouseLeave($event)">
          <img *ngIf="!image" [src]="product?.images[0]">
          <div class="product-discount">
            <div class="discount" fxHide [fxShow]="product?.discountAmount && product?.discountAmount > 0">
              <span>-{{product ? (product | discount: 'percentage' | number: '': 'bn') : 0}}%</span>
            </div>
            <div class="out-stock" fxHide [fxShow]="product?.quantity <= 0">
              <span>Stock Out</span>
            </div>
          </div>
        </div>
        <!--- slide-img -->
        <div class="product-img-slide">

          <swiper [slidesPerView]="1" [autoplay]="{
            delay: 4000,
            disableOnInteraction:false
          }" [breakpoints]="{
            '0':{
              slidesPerView: 3,
              spaceBetween: 15
            },
            '500': {
              slidesPerView: 4,
              spaceBetween: 20
            }

          }" [navigation]="true" class="mySwiper small-carousel">
            <ng-template swiperSlide *ngFor="let slider of product?.images; let i = index;">
              <div class="slide-img" (click)="selectImage(slider)">
                <img [src]="slider" [alt]="product?.productName">
              </div>
            </ng-template>
          </swiper>

        </div>
      </div>

      <!----***** product-info ****-->

      <div class="product-info">

        <div style="z-index: 9;" #zoomViewer>
          <div *ngIf="zoomImage" class="zoom-viewer" [ngStyle]="{'background-image': 'url(' + zoomImage + ')'}"></div>
        </div> <!-- END IMAGE ZOOM VIEW -->

        <!--- product-title -->
        <div class="product-title">
          <img src="./../../../assets/images/Temp/apple.jpeg" alt="">
          <h2>iPhone 13 Pro Max 256GB</h2>
          <!-- <h2>{{product?.productName}}</h2> -->
        </div>
        <!-- Product-price -->
        <div class="product-price">
          <h3>Tk. 179,990</h3>
          <h4>Save 5.27%</h4>
          <h5>Out of Stock
          </h5>
        </div>
        <div class="product-tag">
          <h3>No return is applicable if the seal is broken.
          </h3>
        </div>


        <div class="product-discription">
          <div [innerHTML]="product?.shortDescription | safeHtmlCustom" class="description"></div>

        </div>
        <div *ngIf="promoProduct" class="popupimg" (click)="openCalculateCoolingCapacityDialog()">
          <img [src]="promoBanner.image">
        </div>

        <div class="emi-status" fxHide [fxShow]="product?.emiStatus && product?.emiStatus.length">
          <mat-form-field appearance="outline">
            <mat-label>Select EMI</mat-label>
            <mat-select #matSelectEmi (selectionChange)="onEmiSelect($event)">
              <mat-option *ngFor="let data of emiValues" [value]="data">
                {{ data | emiStatus }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="view-emi">
            <h4>EMIs from ৳{{emiCalculateValue | number: '': 'bn'}}/month</h4>
          </div>
        </div>

        <!-- Product-aad-and- item value-area  -->
        <div class="product-btn">
          <div class="item-btn">
            <div id="mines" (click)="decrementQty()">
              <button>-</button>
            </div>
            <div id="value">
              <input type="text" [value]="selectedQty">
            </div>
            <div id="plus" (click)="incrementQty()">
              <button>+</button>
            </div>
          </div>
          <div class="add-btn" *ngIf="!existsInCart && product?.quantity > 0">
            <a mat-button (click)="addToCart()">ADD TO CART</a>
          </div>
          <div class="add-btn">
            <a mat-button>Buy Now</a>
          </div>
          <div class="add-btn" *ngIf="existsInCart">
            <a mat-button routerLink="/cart" style="background: #ffd200; color: #000">Go TO CART</a>
          </div>
          <!-- Product-add-wishlist-area -->

          <div class="add-wishlist">
            <a *ngIf="ifLoggedIn()" mat-button class="btn-wishlist" (click)="addToWishlistItemAfterCheck()">
              <span> <i class="fa fa-heart"></i></span> Add To Wishlist</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



<section class="product-review-area">
  <div class="container">

    <div class="product-review-main-area">
      <!---**** review-menu ***-->
      <div class="product-review-menu">
        <ul>
          <li><a class="no-select" (click)="viewContainer = 'desc'"
              [ngClass]="{'active' : viewContainer === 'desc'}">Description </a></li>
          <li><a class="no-select" (click)="viewContainer = 'specification'"
              [ngClass]="{'active' : viewContainer === 'specification'}">Specifications</a></li>
        </ul>
      </div> <!-- END NAV BAR -->
      <!-- {{safeSrc | json}} -->
      <ng-container [ngSwitch]="viewContainer">
        <ng-container *ngSwitchCase="'desc'">
          <!--        <div *ngIf="safeSrc" class="youtubeVideo" style="display: flex;justify-content: center;">-->
          <!--            <iframe width="560" height="315" [src]=safeSrc title="YouTube video player" frameborder="0" webkitallowfullscreen mozallowfullscreen-->
          <!--            allowfullscreen></iframe>-->
          <!--        </div>-->
          <div *ngIf="product.youtubeUrl && safeSrc">
            <iframe [src]="safeSrc" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen
              allowfullscreen></iframe>
          </div>
          <div class="description" [innerHTML]="product?.description | safeHtmlCustom"></div>
        </ng-container>

        <ng-container *ngSwitchCase="'specification'">
          <div class="specification">
            <div class="table">
              <table>
                <tr *ngFor="let d of product?.filterData">
                  <th>{{d?.attributeName}}</th>
                  <td>{{d?.attributeValues}}</td>
                </tr>
              </table>
            </div>
          </div><!-- END Specifications -->
        </ng-container>
      </ng-container>


    </div>
  </div>
</section>
<!----END PRODUCT BOTTOM-->


<section class="section-2 section-recommended section-md" *ngIf="relatedProducts && relatedProducts.length > 0">
  <div class="container">

    <div class="deal-title">
      <h2>Related Products</h2>
      <div class="line"></div>
    </div>

    <div class="wrap-content">
      <swiper [slidesPerView]="1" [breakpoints]="{
        '0':{
          slidesPerView: 2,
          spaceBetween: 10
        },
        '500': {
          slidesPerView: 2.5,
          spaceBetween: 10
        },
        '600':{
          slidesPerView: 3,
          spaceBetween: 10
        },
        '750':{
          slidesPerView: 3.5,
          spaceBetween: 10
        },
        '850':{
          slidesPerView: 4,
          spaceBetween: 10
        },
        '1100':{
          slidesPerView: 5,
          spaceBetween: 10
        }
      }" [navigation]="true" class="mySwiper related-product-carousel">
        <ng-template swiperSlide *ngFor="let data of relatedProducts">
          <app-product-card-one [product]="data"></app-product-card-one>

        </ng-template>
      </swiper>
    </div>


  </div>
</section>
<!--END RECOMMENDED SECTION VIEW-->




<!-- LOADING TEMPLATE -->
<ngx-spinner style="width: 100vw; height: 100vh" bdColor="rgba(0,0,0,0.25)" size="medium" color="#fff"
  type="ball-clip-rotate" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>