<!--[ngClass]="{'toolbar-shadow': scrollPosition > 100}"-->
<!---header-offer-banner-->
<div class="header-offer-banner" *ngIf="visibleAddBanner">
  <div class="banner-container">
    <div class="header-offer-banner-img">
      <!-- <a [routerLink]="promoPage?.routerLink"><img style="margin-bottom: -6px;" [src]="promoPage?.image" alt=""></a> -->
      <!-- <div [routerLink]="promoPage?.routerLink"><img style="margin-bottom: -6px;" [src]="promoPage?.image" alt=""></div> -->
      <img style="margin-bottom: -6px;" [routerLink]="promoPage?.routerLink" [src]="promoPage?.image" alt="">
      <span (click)="bannerHide()">X</span>
    </div>
  </div>
</div>

<header class="header" (click)="onClickHeader()" [class.toolbar-small]="scrollPosition > 714" appOutSideClick (outsideClick)="handleOutsideClick()">
  <div class="container" [ngClass]="{'toolbar-scroll': scrollPosition > 714}">
    <div class="logo">
      <a routerLink="/" style="text-decoration: none">
        <img (click)="onNavigate()" class="logo" [src]="logoPrimary" alt="Orajon">
      </a>
    </div> <!-- END LOGO -->

    <div class="search" (click)="onClickSearchArea($event)">
      <form class="search-form" #searchForm=ngForm>
        <input #searchInput
               id="searchInput"
               class="tw"
               type="text"
               placeholder="Search in GadgetEx..."
               (focus)=handleFocus($event)
               name="searchTerm"
               autocomplete="off"
               ngModel
               required>
        <div class="icon">
          <mat-icon>search</mat-icon>
        </div>
        <div *ngIf="isLoading" class="sk-fading-circle">
          <div class="sk-circle1 sk-circle"></div>
          <div class="sk-circle2 sk-circle"></div>
          <div class="sk-circle3 sk-circle"></div>
          <div class="sk-circle4 sk-circle"></div>
          <div class="sk-circle5 sk-circle"></div>
          <div class="sk-circle6 sk-circle"></div>
          <div class="sk-circle7 sk-circle"></div>
          <div class="sk-circle8 sk-circle"></div>
          <div class="sk-circle9 sk-circle"></div>
          <div class="sk-circle10 sk-circle"></div>
          <div class="sk-circle11 sk-circle"></div>
          <div class="sk-circle12 sk-circle"></div>
        </div>
      </form>

<!-- Suggestion View -->
      <ul id="auto-suggestion" class="auto-complete-box"
          [ngClass]="searchProducts.length > 0 && isOpen ? 'active' : ''">
        <li class="list-view" *ngFor="let data of searchProducts" (click)="onSelectItem(data)">
          <img class="img-thumb" [src]="data.images && data.images.length > 0 ? data.images[0] : '/assets/images/placeholder/test.png'" [alt]="data?.productName">
          <div class="desc">
            <h3>{{data?.productName}}</h3>
          </div>
          <div class="price">
            <h5>৳{{data | price: 'priceWithDiscount' | number : '': 'bn'}}</h5>
            <p class="discount">
              {{(data | price: 'discountPercentage') > 0 ? '(' + (data | price: 'discountPercentage') + '% OFF)' : ''}}
            </p>
          </div>
        </li>
      </ul>
    </div> <!-- END SEARCH -->

    <div class="action">
      <div class="icon-text delivery">
        <div class="icon">
          <i class="fas fa-truck" style="color:#ffff; font-weight: 600;"></i>
        </div>
        <div class="wrap">
          <p style="color:#fff;">Free</p>
          <h3>Delivery</h3>
        </div>
      </div>

      <div class="icon-text contact" fxHide.lt-md="true">
        <div class="icon">
          <i class="fas fa-headset" style="color:#ffff; font-weight: 600;"></i>
        </div>
        <div class="wrap">
          <p style="color:#fff;">Contact</p>
          <h3> <a href="tel:+8809610001010" id="tel">+8809610001010</a></h3>
        </div>
      </div>

      <div class="icon-text locator" fxHide.xs="true">
        <div class="icon" routerLink="/store-locator" style="cursor: pointer">
          <i class="fas fa-map-marked-alt" style="color:#ffff; font-weight: 600;"></i>
        </div>
        <div class="wrap">
          <h3 class="color" routerLink="/store-locator" style="cursor: pointer">Store Locator</h3>
          <div class="social">
            <a href="https://www.facebook.com/" target="_blank">
              <i class="fab fa-facebook" style="color:#ffff;"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="fab fa-instagram" style="color:#ffff;"></i>
            </a>
<!--            <a href="#">-->
<!--              <i class="fab fa-twitter" style="color:#ffff;"></i>-->
<!--            </a>-->
            <a href="https://www.youtube.com/" target="_blank">
              <i class="fab fa-youtube" style="color:#ffff;"></i>
            </a>
            <a href="https://www.linkedin.com/" target="_blank">
              <i class="fab fa-linkedin-in" style="color:#ffff;"></i>
            </a>
          </div>
        </div>
      </div>

    </div> <!-- END ACTION -->
  </div>


</header>
