<!----******** footer-area *************-->

<section class="footer-area">
  <div class="container">

    <!----*******  footer-main-area ******-->
    <div class="footer-main">
      <!---***** footer-details ****--->
      <div class="footer-details">
        <div class="footer-logo">
          <img src="/assets/images/junk/Logo-with-text-white.png" alt="logo">
        </div>
        <div class="footer-description">
          <p>GadgetEx continues to provide customers with a reliable and trustworthy online shop along with their two
            shops, helping to ensure a better and premium business experience.</p>
        </div>
      </div>

      <!---**** footer-link ******-->
      <div class="footer-link">
        <div class="footer-title">
          <h2>GadgetEx</h2>
        </div>
        <div class="f-link">
          <ul>
            <li><a routerLink="/">About Us</a></li>
            <li><a routerLink="/">Our Mission</a></li>
            <li><a routerLink="/">Why GadgetEx</a></li>
            <li><a routerLink="/">Product Quality</a></li>
            <li><a routerLink="/">Shop Address</a></li>
            <li><a routerLink="/">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <!---**** footer-link ******-->
      <div class="footer-link">
        <div class="footer-title">
          <h2>Care</h2>
        </div>
        <div class="f-link">
          <ul>
            <li><a routerLink="/">Take Guide</a></li>
            <li><a routerLink="/">Order Tracking</a></li>
            <li><a routerLink="/">My Complain</a></li>
          </ul>
        </div>
      </div>

      <!---**** footer-link ******-->
      <div class="footer-link">
        <div class="footer-title">
          <h2>Informations</h2>
        </div>
        <div class="f-link">
          <ul>
            <li><a routerLink="/">Privacy Policy</a></li>
            <li><a routerLink="/">Terms and Conditions</a></li>
            <li><a routerLink="/">Return and Replacement</a></li>
            <li><a routerLink="/">Warranty Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!---********** footer-bottom-area *********-->

<footer class="footer-bottom-area">
  <div class="container">

    <!---***** footer-bottomMiddle-area ******-->

    <div class="footer-bottommiddle-area">
      <div class="footer-middle-main">

        <!------******** footer-middle-other-details1 *******-------->
        <div class="footer-middle-other-detaits">
          <!------********* other-detail ******* --->
          <div class="other-detail">
            <h3>Follow Facebook Page</h3>
            <div class="fb-page" data-href="https://www.facebook.com/gadgetex.com.bd/" data-tabs="timeline"
              data-width="292" data-height="150px" data-small-header="true" data-adapt-container-width="true"
              data-hide-cover="false" data-show-facepile="true">
              <blockquote cite="https://www.facebook.com/gadgetex.com.bd/" class="fb-xfbml-parse-ignore"><a
                  href="https://www.facebook.com/gadgetex.com.bd/">Facebook</a></blockquote>
            </div>
          </div>

        </div>

        <!------******** footer-middle-other-details2 *******-------->
        <div class="footer-middle-other-detaits">
          <!------********* other-detail ******* --->
          <div class="other-detail">
            <h3>Connect with WhatsApp</h3>
            <div style="margin: 0px auto; border: 0px;" class="fbycover">
              <a class="solik" style="color:#25D366;" href="https://api.whatsapp.com/send?phone=8801746345329"
                target="_blank" rel="noopener noreferrer"> <img class="img-fluid"
                  src="./../../../../assets/images/junk/whatsapp-promo.png"></a>

            </div>
          </div>
        </div>

        <!------******** footer-middle-other-details3 *******-------->
        <div class="footer-middle-other-detaits">
          <!------********* other-detail ******* --->
          <div class="other-detail">
            <h3>Subscribe YouTube Channel</h3>
            <div class="youtube-content">
              <iframe width="252" border-radius="5px" height="142px" src="https://www.youtube.com/embed/_q8ZiKyTn8Y"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>


      </div>
    </div>
    <!---Buy original electronics product by Category-->

    <div class="footer-register-payment">
      <div class="footer-register">
        <h1>Registered member of</h1>
        <img src="./../../../../assets/images/junk/MemberofeCab.png" alt="img">
      </div>
      <div class="footer-payment">
        <img src="./../../../../assets/images/junk/ssl.png" alt="">
      </div>
    </div>
    <div class=footer-copy>
      © 2022. All Rights Reserved by GadgetEx .
    </div>


  </div>
</footer>
<!---------footer-area-end-------------->