@import "src/theme/variables";
@import "src/theme/shop-by-category";
@import "src/theme/deal-of-the-day";
@import "src/theme/feature-product";
@import "src/theme/popular-category";
@import "src/theme/exports/big-offer-banner";
@import "src/theme/swipper.scss";
@import "~swiper/css/effect-fade";

$margin-top: 80px;

.banner-image {
  width: 100%;
  //max-height: 200px;
  height: 180px;
  margin-bottom: 8px;
  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}

.gap-section {
  margin: 24px 0;
}

.section-md {
  width: 100%;
  max-width: $theme-container-width;
  margin: 0 auto;
}

.section-showcase {
  &:hover {
    ::ng-deep.offer-carousel .owl-nav {
      visibility: visible;
    }
  }

  .big-carousel-view {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    .category-menu {
      background-color: lightblue;
      ul {
        width: 280px;
        list-style-type: none;
        li {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          cursor: pointer;
          margin: 0.5rem 0;
          padding: 0 0.5rem;
          position: relative;
          a {
            text-decoration: none;
          }
          span {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            img {
              height: 23px;
              width: 20px;
            }
          }
          .sub-menu {
            display: none;
            width: 150px;
            padding: 0 1rem;
            position: absolute;
            background-color: skyblue;
            top: 0;
            left: 100%;
            z-index: 10;
            ul {
              width: 100%;
            }
          }
          &:hover {
            background-color: wheat;
            .sub-menu {
              display: block;
            }
          }
        }
      }
    }
  }
}

.section-category {
  margin-top: 10px;
}

.section-deal-of-day {
  margin-top: 10px;
}

.brand-title {
  color: #1087ba;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 5px;
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 15px !important;
  a {
    float: right;
    right: 0;
    position: relative;
    background: #1087ba;
    color: #000;
    padding: 6px 12px;
    border-radius: 3px;
    opacity: 0.6;
    font-size: 15px;
    top: -6px;
    text-decoration: none;
  }

  span {
    border-bottom: 3px solid;
    padding-bottom: 2px;
  }
}

.section-brand {
  margin-top: 40px;
  margin-bottom: 20px;

  .img-thumb {
    display: grid;
    border: 1px solid gray;
    border-radius: 5px;
    place-items: center;
    box-shadow: 2px 2px 6px #ddd, -2px -2px 6px #ddd;
    overflow: hidden;

    img {
      width: 175px;
      height: 98px;
      object-fit: contain;
      transition: all 0.2s linear;
    }
  }
}
.img-thumb:hover img {
  transform: scale(1.06);
}

@media (min-width: 1420px) and (max-width: 1540px) {
  .section-showcase {
    .carousel-img-big {
      max-height: 390px;
      img {
        max-height: 390px;
      }
    }
  }
}

@media (min-width: 1541px) and (max-width: 1720px) {
  .section-showcase {
    .carousel-img-big {
      max-height: 490px;
      img {
        max-height: 490px;
      }
    }
  }
}

@media (min-width: 1721px) and (max-width: 1920px) {
  .section-showcase {
    .carousel-img-big {
      max-height: 470;
      img {
        max-height: 470;
      }
    }
  }
}

@media (min-width: 960px) and (max-width: 1440px) {
  .img-thumb img {
    width: 140px !important;
    height: 80px !important;
  }
}
.section-offer-card {
  margin-top: 20px;
  .dealOnPlay-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px 20px;
    box-sizing: border-box;
  }
}

.section-popular-cat {
  position: relative;
}

.section-feature {
  margin-top: 20px;
}

.section-popular-cat {
  margin-top: 0;
}

.section-recommended {
  margin-top: $margin-top;
  margin-bottom: 20px;

  .wrap-content {
    padding-top: 20px;
  }
}

.section-8 {
  box-sizing: border-box;
  margin-bottom: 20px;
}

/**
SHOWCASE
 */

@media (max-width: 599px) {
  .section-showcase {
    .big-carousel-view {
      flex-direction: column;
      .category-menu {
        ul {
          width: 100%;
          li {
            .sub-menu {
              left: 60%;
              top: 20px;
            }
          }
        }
      }
    }
    .carousel-img-big {
      width: 100%;
      height: 150px;

      img {
        height: 150px;
        // object-fit: cover;
      }
    }
  }
}
@media (min-width: 1100px) and (max-width: 1276px) {
  .section-showcase {
    .carousel-img-big {
      max-height: 340px;
      img {
        max-height: 340px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .section-offer-card {
    .dealOnPlay-main {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 991px) {
  .section-offer-card {
    .dealOnPlay-main {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

/****** section-7 ******/

@media (min-width: 960px) and (max-width: 1440px) {
}
.right-border {
  position: relative;
  z-index: 4;
}
.right-border-none {
  display: none;
}
.right-border::after {
  content: "";
  display: block;
  width: 2px;
  height: 200px;
  background-color: #ddd;
  position: absolute;
  left: 50%;
  top: 25%;
}

@media (max-width: 1007px) {
  .right-border::after {
    display: none;
  }
}

@media (min-width: 960px) and (max-width: 1440px) {
  .container,
  .container-fluid {
    width: 88% !important;
  }
}

@media (max-width: 400px) {
  .container {
    width: 100% !important;
  }
  .section-wrapper .d-block {
    width: 98% !important;
  }
}
.res-title {
  padding: 0px 0px 12px 0px;
  border-bottom: 1px solid #eee;
  display: none;
  width: 95%;
  margin: auto;
  margin-bottom: 30px;
}
.res-title h2 {
  color: #000;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  font-weight: 600;
  display: block;
  line-height: 25px;
  text-transform: capitalize;
}
@media (max-width: 650px) {
  .res-title {
    display: block;
  }
}
.carousel-img-big-mobile {
  display: none;
}
.carousel-img-big-mobile img {
  width: 100%;
  height: 100%;
}
@media (max-width: 770px) {
  .carousel-img-big-mobile {
    display: block;
    // width:760px ;
    // height: auto;
  }
}
@media (max-width: 770px) {
  .carousel-img-big {
    display: none;
  }
}
